# Virtual Environments
venv/
datagen_env/
training_env/
download_env/

# Python cache
__pycache__/
*.pyc

# macOS files
.DS_Store

*.mp4
*.npz
wlasl_mediapipe_features*/
WLASL/
raw_videos/
start_kit/
data/
__pycache__/
.DS_Store

# Local demo kit (do not commit)
ARTEMIS_Final_Demo_Kit/
